// Debug-Production: includes both Pods (debug-production) and Flutter Debug xcconfigs
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-production.xcconfig"
#include "Flutter/Debug.xcconfig"

FLUTTER_TARGET=lib/main_production.dart
APP_DISPLAY_NAME=Scrapify
PRODUCT_BUNDLE_IDENTIFIER=com.abhyuthanam.scrapify
